<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Techno</title>
    <script src="./vue.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <header class="header">
            <img class="logo" src="./assets/techno.svg" alt="Techno">
            <span class="carrinho_menu">{{carrinhoTotal}} |</span>
        </header>
        <section class="modal" v-if="item.nome" @click="fecharModal">
            <div class="modal_container">
                <button @click="item=false" class="modal_fechar">X</button>
                <div class="modal_img"> <img :src="item.img" :alt="item.nome"></div>
                <div class="modal_dados">
                    <span class="modal_preco">{{item.preco|moeda}}</span>
                    <h2 class="modal_titulo">{{item.nome}}</h2>
                    <p>{{item.descricao}}</p>
                    <button class="modal_btn">Adicionar Item</button>
                </div>
                <div class="avaliacoes">
                    <h2 class="avaliacoes_subtitulo">Avaliações</h2>
                    <ul>
                        <li class="avaliacao" v-for="review in item.reviews">
                            <p class="avaliacao_descricao">{{review.descricao}}</p>
                            <p class="avaliacao_usuario">{{review.nome}} | {{review.estrelas}} estrelas</p>
                        </li>
                    </ul>
                </div>

            </div>
        </section>
        <section class="produtos">
            <div v-for="produto in produtos" @click="abrirModal(produto.id)" class="produto">
                <img :src="produto.img" :alt="produto.nome" class="produto_img">
                <div class="produto_info">
                    <span class="produto_preco">{{produto.preco | moeda}}</span>
                    <h2 class="produto_nome">{{produto.nome}}</h2>
                </div>
            </div>
        </section>
    </div>

    <script src="./app.js"></script>
</body>

</html>